/* app global css */
* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "Arimo";
  src: url("../../public/fonts/Arimo-VariableFont_wght.ttf");
}
body {
  overflow-x: hidden;
  font-family: "Arimo";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
}
.q-img__content {
  display: flex;
  align-items: flex-end;
}
.q-icon {
  color: red;
}
#q-app {
  min-height: 10vh;
  background: #102135;
}
.carousel .q-carousel__control {
  width: 130px;

  background: rgba(255, 255, 255, 0.07) !important;
}
.q-carousel {
  height: unset;
}
.q-btn__content {
  display: flex;
  flex-direction: column;
}
.q-pa-md {
  background: rgba(42, 64, 90);
}
@media all and (max-width: 500px) {
  body {
    font-size: 11px;
  }
  .carousel .q-carousel__control {
    width: 30px;
  }
}
